
@{

    ViewBag.Title = "Register";

}
@*@if (ViewBag.Error != null)
{
    foreach (string s in (IEnumerable<string>)ViewBag.Error)
    {
        <div>Error: @s</div>
    }
}*@
@using (Html.BeginForm())
{

    <div class="form-group">
        <label for="username" class="control-label">Username</label>
        <input name="username" type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
        <div class="help-block with-errors"></div>
    </div>

    @*<div>
        <label for="username">Username</label>
        <input name="username" type="text" />
    </div>*@

    <div>
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>
    <input type="submit" value="Create Account" />
}
@Html.ActionLink("Already have an account? Sign In", "SignIn")