
@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>


<div class="row">
<div>
@Html.ActionLink("Register for a new account", "Register")
    </div>
<div>
@Html.ActionLink("Recover your password", "ForgotPassword")
    </div>
    </div>
