<appSettings>
  
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SendGrid.Key" value="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"/>
  <add key="Braintree.MerchantId" value="gx7wssq4x9dsnphh"/>
  <add key="Braintree.PrivateKey" value="3183dbc949845686adec42e61053cd89"/>
  <add key="Braintree.PublicKey" value="rtnyn3htbphrzt7t"/>
  <add key="Braintree.Environment" value="sandbox"/>
  <add key="SmartyStreets.AuthID" value="9bd1b44f-e506-91f5-2466-d9db67cda1ae"/>
  <add key="SmartyStreets.AuthToken" value="VSKdTolr3UyziF3w5Bt2"/>
</appSettings>