@{
    ViewBag.Title = "About";
}

<h1 style="margin-top:30px; margin-left:15px;">@ViewBag.Message</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8">
        <p style="font-size:20px; margin-top:40px;">
            Is This Real Life is a company founded on the principle that we are all currently living in a pretty messed up world. Are we all stuck in the upside-down?
            Have we been trapped in one of Dante's many circles of hell? Did we branch off into another darker timeline when Large Hardon Collider was switched on? Is there any hope for humanity as we know it?
            Or are we all strapped into a rollercoaster that hurdling towards the destruction of the human race as we know it?
        </p>

        <p style="font-size:20px">
            ITRL is here for you. To reassure you that you are indeed still concious and that none of this is some sort of hellish nightmare.
            Let us reassure you and comfort you through our many services. Our trained associates will come to you and help you through this. Will things get better?
            Well honestly, probably not. But we can be there for you in the meantime.
        </p>
            </div>
        <div class="col-md-4">
            <img class="img" style="margin-right:200px;" src="~/Images/welcometohell.jpg" />
                  
        </div>
    </div>
</div>