@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h1>Is This Real Life?</h1>
                <p class="lead">ITRL is a service that helps keep your sanity in an insane world.</p>
                <p><a href="http://localhost:64475/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <img id="burningEarth" class="img-circle" style="min-height:225px" src="~/Images/earthonfire.jpg" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sign-up today for a one time snap back to reality to keep you tetherted to this plane.
        </p>
        <p><a class="btn btn-default" href="http://localhost:64475/Product">Available Products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Run a Report</h2>
        <p>Don't know what to get that special someone? How about reassurance that they aren't crazy?</p>
        <p><a class="btn btn-default" href="http://localhost:64475/Reporthome">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Suscribe Now</h2>
        <p>Need more than a one time fix? Let us keep you sane on a monthly, weekly, or even daily basis.</p>
        <p><a class="btn btn-default" href="http://localhost:64475/account/register">Learn more &raquo;</a></p>
    </div>
</div>