
@{
    ViewBag.Title = "ForgotPassword";
}

<h1>Forgot Password</h1>
@using (Html.BeginForm())
{

    <p style="font-size:16px;">Enter the email address associated with your account, and we'll send you instructions for resetting your password</p>
    <div>
        <label for="email" class="control-label"> Email Address</label>
        <input type="email" name= "email" class="form-control" placeholder="Email" data-error="Sorry, invalid email." required/>
    </div>
    <div style="margin-top:20px;">
        <input type="submit" />
    </div>
}
<div style="margin-top:5px;">
    @Html.ActionLink("Sign In", "SignIn")
</div>



