@model OnlineStore.Models.Purchase

@{
    ViewBag.Title = "Receipt";
}

<h1>Your order is complete!</h1>
<h3>Thank you so much for shopping with us</h3>

<p> Your tracking number is: @Model.TrackingNumber</p>


