@{
    ViewBag.Title = "Contact";
}
<h1 style="margin-top:30px;">@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<address>
    1060 W Addison St.<br />
    Chicago, IL 60613<br />
    <abbr title="Phone">P:</abbr>
    773.404.2827
</address>

<address>
    <strong>Support:</strong>   <a href="">Support@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="">Marketing@aol.com</a>
</address>